{% extends "layouts/base.html" %}

{% block title %} Operations {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<!-- <div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Operations</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Operations</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">

				<div class="col-sm-12">

					<div class="card">
						<div class="card-header">
							<h4><a data-toggle="collapse" href="#Instructions">Click here for Instructions...</a></h4>
						</div>
						<div class="collapse multi-collapse mt-2" id="Instructions">
							<div class="card-body">
								<p>
									The Operations Functions
								</p>
							</div>
						</div>
					</div>






					<form action="/uploadFile" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-sm-11">
								<div class="form-group">
									<h5>Select File(s)</h5>
									<div class = "row">
										
											<div class="col-sm-10">
												<div class="custom-file">
													<input oninput="filesize(this);" type="file" class="custom-file-input" name="files[]" multiple=True id="documents">
													<label class="custom-file-label" for="documents">File(s)...</label>
												</div>
											</div>
											<div class="col-sm-2">
												<button type="submit" class="btn btn-primary">Upload</button>
											</div>
										
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-8">
							{% if msgSuccess %}
							<div class="alert alert-success" role="alert">
								<p>The following file(s) uploaded:</p>
								<ul>	
									{% for fileNames in msgSuccess %}
										<li>{{ fileNames }}</li>
									{% endfor %}	
								</ul>
								
							</div>
							{% endif %}
							{% if msgDanger %}
							<div class="alert alert-danger" role="alert">
								{{msgDanger}}
							</div>
							{% endif %}
						</div>
					</form>
					<hr>
				</div> 




				</div>



				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
