{% extends "layouts/base.html" %}

{% block title %} Operations {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Operations</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Operations</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>Hello card</h5>
							<div class="card-header-right">
								<div class="btn-group card-option">
									<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="feather icon-more-horizontal"></i>
									</button>
									<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
										<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
										<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
										<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
										<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
								officia deserunt mollit anim id est laborum."
							</p>
						</div>
					</div>

					<form action="/uploadFile" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-sm-11">
								<div class="form-group">
									<h5>Select File(s)</h5>
									<div class = "row">
										
											<div class="col-sm-10">
												<div class="custom-file">
													<input oninput="filesize(this);" type="file" class="custom-file-input" name="files[]" multiple=True id="documents">
													<label class="custom-file-label" for="documents">File(s)...</label>
												</div>
											</div>
											<div class="col-sm-2">
												<button type="submit" class="btn btn-primary">Upload</button>
											</div>
										
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-8">
							{% if msgSuccess %}
							<div class="alert alert-success" role="alert">
								<p>The following file(s) uploaded:</p>
								<ul>	
									{% for fileNames in msgSuccess %}
										<li>{{ fileNames }}</li>
									{% endfor %}	
								</ul>
								
							</div>
							{% endif %}
							{% if msgDanger %}
							<div class="alert alert-danger" role="alert">
								{{msgDanger}}
							</div>
							{% endif %}
						</div>
					</form>
					<hr>
				</div> 




				</div>



				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
